*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    color: #e5e7eb;
    justify-content: center;
    align-content: center;
    background:rgb(15, 23, 42);
    padding:0 10%  ;
}
h1{
    font-weight: 700;
    letter-spacing: -.025em;
    font-size: 3rem;
    line-height: 1.5cm;

}
h2{
    margin-top: .75rem
}

.me{
    position: sticky;
    background-color: rgb(15, 23, 42);
    padding:20px;
    top:100px;
    display: flex;
    min-width: 48%;
    max-height: 80vh;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
}

.badg{
    display: inline-block;
    /* top:10px; */
    margin:15px 5px 0 5px;
    padding:5px;
    border:#03e9f4 2px solid;
    border-radius: 10px;
    /* color:#03e9f4; */
    animation: moveRandom 3s infinite alternate, enmation 2.5s infinite alternate;
    position: relative;
    font-size: 16px;
    background-color: rgba(15, 23, 42, 0.377);
}

/* // Add this at the end of the file */
@keyframes moveRandom {
    0% { 
        transform: translateY(10px);
     }
    100% { transform: translateY(-200px); }
}
@keyframes enmation {
    0% {
        box-shadow: 0 0 0 0 #03e9f4;
        transform: scale(1);
    }
    100% {
        box-shadow: 0 0 10px 0px #03e9f4;
        transform: scale(1.05);
    }

}
/* breaker css */
.breaker{
    position: fixed;
    top: -10px;
    left: 10px;
    width: 500px;
    height: 500px;
    opacity: 0.8;
    border-radius: 100%;
    background: radial-gradient(circle, rgb(190, 96, 18) 50%);
    /* pointer-events: none; */
    z-index:-1;
}
.blue{
    top: -110px;
    left: 180px;
    z-index: -2;
    background: radial-gradient(circle, rgb(3, 233, 244) 50%);
}
/* rectangle */
.rect{
    position: fixed;
    top: -200px;
    right: -300px;
    width: 600px;
    height: 600px;
    background: rgba(3, 233, 244, 0.1);
    transform: rotate(45deg);
    z-index: -3;
    /* pointer-events: none;/ */
}
.left{
    top: -100px;
    right: -200px;
    width: 400px;
    height: 400px;
    background: rgba(190, 96, 18, 0.1);
    z-index: -4;
}


/* spotlight for css  */
.spotlight {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 10;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(145, 179, 180, 0.25) 0%, rgba(15,23,42,0.0) 70%);
    /* mix-blend-mode: lighten; */
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: background 0.2s;
}

.skills{
    width: 400px;
    position: relative;
    padding-bottom: 10px;
}
.nav, .social{
    list-style: none;
    display: flex;
    gap: 20px;
    

}
.nav{
    flex-direction: column;
}
.nav li{
    font-size: 20px;
    font-weight: 800;
}
.nav li::after{
    content: ' ';
    display: block;
    width: 0;
    height: 1px;
    background: #03e9f4;
    transition: 1.3s;
}
li:hover::after{
    width: 50%;
}
a{
    text-decoration: none;
    color: #c2caf1;
    font-size: 18px;
    font-weight: 500;
    transition: 1.3s;
}
a:hover{
    color: #03e9f4;
    /* transform: scale(0.9); */
}
.social{


}
/* left side */
.container{
    min-width: 50%;
    padding: 0 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2000px;
    
    
}
.container h1{
    color:#03e9f4;
    /* font-weight: 700;
    font-size: 25px; */
}
.container div{
    padding:100px 50px 20px 0;

}
.about{
    font-weight: 700;
    font-size: 24px;
    border-radius: 15px;
    width: 100%;
    /* transform: 1.3s; */
}
.about p{
    font-weight: 500;
    font-size: 20px;
    line-height: 0.8cm;
    padding-top: 20px;
}
/* expreince section  */
.experance{
    
}
.experance ul{
    list-style:none;
    display:flex;
    flex-direction: column;
    gap:20px;
    text-decoration:none ;
    padding-top: 20px;
    font-size: 16px;
}
.experance ul li{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    text-decoration: none;
    border: #03e9f4 2px solid ;
    border-radius: 15px;
}
.spendtime{
    background-color: #c2caf1;
    width: fit-content;
    color:black;
    padding: 5px 10px;
    margin:15px 0;
    border-radius: 5px;
}

/* project section */
.projects{
    /* display: none; */
    /* padding :50px 0; */
}
@media (max-width: 1400px) {
    body{
        margin:20px 20px  40px 30px ;
        padding: 0;
        flex-direction: column;
       

    }
    .breaker{
        display: none;
    }
    .me{
        position: relative;
        top:10px;
        height: 200vh;
        margin:0;
        padding:0;
        background-color: rgba(218, 10, 10, 0);

        
    }
    .container{
        /* margin-top:200px; */
        padding: 30px 0 0 0 ;
        height: 80%;
        width: 100%;
    }
    .nav{
        display: none;
        flex-direction: row;
    }
    
} 